<!DOCTYPE html>
<html lang="en" ng-app="VisualSortApp" ng-cloak>
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />

  <title>Visual Sorting </title>

  <!-- empty favicon -->
  <link rel="icon" href="data:;base64,iVBORw0KGgo=" />

  <style>[ng-cloak] { display: none!important; }</style>

</head>
<body ng-controller="VisualSortCtrl">
  <header class="container">
    <span class="title">Visual Sorting</span>
  </header>

  <main class="container">
    <form id="form" ng-submit="handlers.sort(F)">
      <div class="input-container">
        <input
          type="text"
          placeholder="numbers..."
          ng-disabled="state === states.BUSY"
          ng-model="arrayUpdater"
          ng-model-options="{ getterSetter: true }"
        />
        <select
          ng-disabled="state === states.BUSY"
          ng-options="option.value as option.label for option in options"
          ng-model="F"
          ng-init="F = options[0].value"
        ></select>
      </div>
      <div class="button-container">
        <button
          type="submit"
          data-value="Sort"
          ng-disabled="state=== states.BUSY"
        >
          Sort
        </button>
        <button
          type="button"
          data-value="Randomize"
          ng-disabled="state === states.BUSY"
          ng-click="handlers.randomize()"
        >
          Randomize
        </button>
        <button
          type="button"
          data-value="Reset"
          ng-disabled="state === states.BUSY"
          ng-click="handlers.reset()"
        >
          Reset
        </button>
      </div>
    </form>
    <canvas id="canvas"></canvas>
  </main>
</body>
</html>



